.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  margin-bottom: 5rem;
}

.mainContainer {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
